<header>
    <nav>
        <a href="/">Fitness & diet tracker</a>
        <ul>
            <li><a href="/foods">Food logged</a></li>
            <li><a href="/foods/new">Add Food</a></li>
            <li><a href="/track">Track</a></li>
            <li><a href="/track/new">Calorie counter</a></li>
        </ul>
    </nav>
</header>