<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <li><a href="/foods">Authors</a></li>
            <li><a href="/foods/new">Add Authors</a></li>
        </ul>
    </nav>
</header>