<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Fitness & diet tracker</a>
        <ul>
            <li><a  href="/foods">Fav Foods</a></li>
            <li><a  href="/foods/new">Add Food</a></li>
            <li><a  href="/track">Calorie counter</a></li>
            <li><a  href="/track/new">Add to track</a></li>
        </ul>
    </nav>
</header>