<h2>Search saved foods</h2> 
<form action = "/foods" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOption.name %>">
    <button type="submit">Search</button>
</form> 
<br>
<% foodSaved.forEach(food =>{ %>
    <div><%= food.name %></div>
<%    }) %> 

