.form-row {
    display: flex;
    margin-bottom: .5rem ;
    width: 18rem;

    
}

.form-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 2rem;
    flex-basis: 0;
   
    
}





.form-item:first-child {
    margin-left: 0;
}