<h2 class="page-header" >Edit entry</h2> 
<form action = "/track/<%= track.id %>?_method=PUT" method="POST"> 
    <!-- the put leads to update page defined in the routes-->
    <%- include('_formfields') %>
    


      

    <br>
    <a class="btn2 btn-cancel" href="/track ">Cancel</a>
    
    <button class="btn2 btn-update" type="submit">Update</button>
</form>
