<h2 class="page-header">Log new food info </h2> 
<form action = "/track" method="POST"> 
    <%- include('_formfields') %>
    <br>
    <a class="btn2 btn-cancel" href="/track">Cancel</a>
    
    <button class="btn2 btn-update" type="submit">Create</button>
</form>


