<h2>Log new food info </h2> 
<form action = "/track" method="POST"> 
    <%- include('_formfields') %>
    <br>
    <a href="/track">Cancel</a>
    
    <button type="submit">Create</button>
</form>


